@using FindGavenCore
@model IndexViewModel
@{
    ViewData["Title"] = "Provider";
}
<div class="container">
    <img src="~/images/ProvierPic/@Model.Provider.Image" alt="Alternate Text" />
    <p> @Model.Provider.Description</p>
</div>

